<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>
<body>   
    
   <div class="container">        
   <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/024.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/024.jpg" alt="image"></a>
              <div class="caption">Lorem ipsum </div>
    </div> 
        
   <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/025.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/025.jpg" alt="image"></a>
              <div class="caption">Lorem ipsum </div>
    </div> 
        
   <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/026.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/026.jpg" alt="image"></a>
              <div class="caption">Lorem ipsum </div>
    </div> 
        
   <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/027.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/027.jpg" alt="image"></a>
              <div class="caption">Lorem ipsum </div>
    </div> 
        
   <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/028.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/028.jpg" alt="image"></a>
              <div class="caption">Lorem ipsum </div>
    </div> 
        
   <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/029.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/029.jpg" alt="image"></a>
              <div class="caption">Lorem ipsum </div>
    </div>
   
   </div>
      
      
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="app.js"></script>   
</body>
</html>
                 
